dist/views/nav.html

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header"><a href="/" class="navbar-brand">SOH</a></div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li ng-if="user === null"><a href="/signin">Sign In</a></li>
        <li ng-if="user === null"><a href="/signup">Sign Up</a></li>
        <li ng-if="user !== null"><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

client/views/nav.jade
.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			a(href='/' class='navbar-brand') SOH
		.collapse.navbar-collapse
			ul.nav.navbar-nav.pull-right
				li(ng-if='user === null')
					a(href='/signin') Sign In
				li(ng-if='user === null')
					a(href='/signup') Sign Up
				li(ng-if='user !== null')
					a(href='/logout') Logout
