client/views/posts.jade
.row
	.column.xs2
		ul
			li(ng-repeat='service in services') {{service.name}}
		button(ng-click='addService()') Add Service
		a(href='/auth/logout') Logout
	.column.xs10
		ul
			li(ng-repeat='post in feed')
				h5
					a(href='/post/{{$index}}') {{post.title}}

dist/views/posts.html

<div class="row">
  <div class="column xs2">
    <ul>
      <li ng-repeat="service in services">{{service.name}}</li>
    </ul>
    <button ng-click="addService()">Add Service</button><a href="/auth/logout">Logout</a>
  </div>
  <div class="column xs10">
    <ul>
      <li ng-repeat="post in feed">
        <h5><a href="/post/{{$index}}">{{post.title}}</a></h5>
      </li>
    </ul>
  </div>
</div>
