client/views/styles.jade
.style-guide
	header.row.case.pad.text-center
		.circle
			i
		h1 FFEEEEDD Style Guide
		h4 Get all of your style questions answered here!

	section.palette.row.case
		h2 Color Palette
		.block
			h5 Primary Colors
			.inner.pad
				ul.primary-list.cf
					li.sample Azure	#F0FFFF
						div
					li.sample Firebrick	#B22222
						div
					li.sample Ivory #FFFFF0
						div
					li.sample Dark #313131
						div
					li.sample Light #FFFAFA
						div
		.block
			h5 Secondary Colors
			.inner.pad
				ul.secondary-list.cf
					li.sample Lightblue	#ADD8E6
						div
					li.sample Indian Red #CD5C5C
						div
					li.sample Lemon	Chiffon #FFFACD
						div
					li.sample Steelblue	#4682B4
						div
					li.sample Old Lace #FDF5E6
						div

		.block
			h5 Mixers
			.inner.pad
				ul.mixer-list.cf
					li.sample Azure/Lightblue
						div
					li.sample Indian Red/Firebrick
						div
					li.sample Azure/Old lace
						div
					li.sample Azure/Ivory
						div
					li.sample Azure/Snow (Primary Light)
						div
					li.sample Lightblue/Old Lace
						div
					li.sample Lightblue/Ivory
						div
					li.sample Lightblue/Snow
						div
					li.sample Lightblue/Steelblue
						div
					li.sample Ivory/Snow
						div

	section.typography.row.case
		h2 Typography
		.block
			h5 Headers
			.inner.pad
				.headers
					h1 Header One
					h2 Header Two
					h3 Header Three
					h4 Header Four
					h5 Header Five
					h6 Header Six

				code
					.wrap
						h5.xs2 base.scss
						p.muted /* T Y P O G R A P H Y
						p.muted =============================================================*/
						p	h1,h2,h3 { font-weight:100; }
						p	h4,h5,h6 { font-weight:200; }
						p	h1 { font-size:2em; line-height:1.25; }
						p h1 { font-size:2em; line-height:1.25; }
						p h2 { font-size:1.625em; line-height:1.15; }
						p h3 { font-size:1.375em; line-height:1.13; }
						p h4 { font-size:1.125em; line-height:1.11; }
						p h5 { font-size:1.1em; line-height:1.08; }
						p h6 { font-size:1em; line-height:1; }
						p.muted // $sm (tablet and up)
						p @media (min-width:40.063em) {
						p.indent body { line-height:1.375; }
						p.indent h1 { font-size:2.5em; line-height:1.125; }
						p.indent h2 { font-size:2em; line-height:1.25; }
						p.indent h3 { font-size:1.5em; line-height:1.25; }
						p.indent h4 { font-size:1.3em; line-height:1.22; }
						p.indent h5 { font-size:1.2em; line-height:1.19; }
						p.indent h6 { font-size:1em; line-height:1.1; }
						p }
						p.muted // $md (laptop and up)
						p @media (min-width:64.063em) {
						p.indent h1 { font-size:3em; line-height:1.05; }
						p.indent h2 { font-size:2.25em; line-height:1.25; }
						p.indent h3 { font-size:1.75em; line-height:1.25; }
						p.indent h4 { font-size:1.5em; line-height:1.15; }
						p.indent h5 { font-size:1.3em; line-height:1.1; }
						p.indent h6 { font-size:1em; line-height:1; }
						p }

		.block.cf
			h5 Paragraph
			.inner.pad
				p.md6.col Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				code
					.wrap.cf
						h5.xs2 base.scss
						p body { font-size:100%; font-size-adjust: 0.5; font-size:1em; line-height:1.25; }
						p $base-font-size: 16px !default;
						p $base-line-height: 24px !default;
						p $body-bg: #fff !default;
						p $body-font-color: #313131 !default;
						p $body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
						p $body-font-weight: normal !default;
						p $body-font-style: normal !default;

		.block.cf
			h5 Anchors
			.inner.pad
				.anchors
					a(href="#") Righteous!
				code
					.wrap
						h5.xs2 main.scss
						p a, input, textarea, button { outline:none; }
						p a {
						p.indent color: lighten($steel,5%); font-weight:500; text-decoration:none; transition:color .05s linear;
						p.indent &:hover, &:active { color: darken($steel,10%); }
						p.indent &:visited { color: $lblue; }
						p }
						
	section.row.case
		h2 Buttons
		.block
			h5 Base
			.inner.pad
				ul.buttons.cf
					li button
						div
							button Submit
				code
					.wrap
						h5.xs2 buttons.scss
						p .btn, button, input[type='submit'] {
						p.indent font-family:inherit; font-size:100%; cursor:pointer; padding:0;
						p.indent display:inline-block; vertical-align:middle; white-space:nowrap;
						p.indent background:white; border:1px solid #ddd; border-radius:$global-radius;
						p.indent padding-right:1.5em; padding-left:1.5em; line-height:2.5; font-weight:200;
						p.indent &, &:hover { text-decoration:none; }
						p.indent &:hover { background:#eee; }
						p.indent &:active, &:focus { outline:none; }
						p }

		.block
			h5 Sizes
			.inner.pad
				ul.buttons.cf
					li button.btn-sm
						div
							button.btn-sm Submit
					li button / .btn
						div
							button Submit
					li button.btn-lg
						div
							button.btn-lg Submit
				ul.buttons.cf
					li a.btn.btn-sm
						div
							a.btn.btn-sm Submit
					li a.btn
						div
							a.btn Submit
					li a.btn.btn-lg
						div
							a.btn.btn-lg Submit
				code
					.wrap
						h5.xs2 buttons.scss
						p	.btn-sm {
						p.indent padding-right:0.5em; padding-left: 0.5em; line-height:2; font-size:90%;
						p	}
						p
						p	//.btn-md is default
						p
						p	.btn-lg {
						p.indent padding-right:2.5em; padding-left: 2.5em; line-height:3; font-size:120%;
						p	}

			
		.block
			h5 Colors
			.inner.pad
				ul.buttons.cf
					p Blue
					li
						div
							button.btn-sm.btn-blue Submit
					li
						div
							button.btn-blue Submit
					li
						div
							button.btn-lg.btn-blue Submit
				ul.buttons.cf 
					p Lightblue
					li
						div
							button.btn-sm.btn-lblue Submit
					li
						div
							button.btn-lblue Submit
					li
						div
							button.btn-lg.btn-lblue Submit
				ul.buttons.cf
					p Red
					li
						div
							button.btn-sm.btn-red Submit
					li
						div
							button.btn-red Submit
					li
						div
							button.btn-lg.btn-red Submit
					
				ul.buttons.cf
					p Indian Red
					li
						div
							button.btn-sm.btn-ired Submit
					li
						div
							button.btn-ired Submit
					li
						div
							button.btn-lg.btn-ired Submit
	
				ul.buttons.cf
					p Blue Ivory
					li
						div
							button.btn-sm.btn-bliv Submit
					li
						div
							button.btn-bliv Submit
					li
						div
							button.btn-lg.btn-bliv Submit

				ul.buttons.cf
					p Blue Ivory Alt
					li
						div
							button.btn-sm.btn-bliva Submit
					li
						div
							button.btn-bliva Submit
					li
						div
							button.btn-lg.btn-bliva Submit
	
				ul.buttons.cf
					p Red Ivory
					li
						div
							button.btn-sm.btn-rediv Submit
					li
						div
							button.btn-rediv Submit
					li
						div
							button.btn-lg.btn-rediv Submit
	
				ul.buttons.cf
					p Mixed
					li
						div
							button.btn-sm.btn-mix Submit
					li
						div
							button.btn-mix Submit
					li
						div
							button.btn-lg.btn-mix Submit
	
				ul.buttons.cf
					p Mixed 2
					li
						div
							button.btn-sm.btn-mix2 Submit
					li
						div
							button.btn-mix2 Submit
					li
						div
							button.btn-lg.btn-mix2 Submit
	
				ul.buttons.cf
					p Mixed 3
					li
						div
							button.btn-sm.btn-mix3 Submit
					li
						div
							button.btn-mix3 Submit
					li
						div
							button.btn-lg.btn-mix3 Submit

		.block.tactile
			h5 Tactile
			.inner.pad
				ul.buttons.cf
					p Blue
					li
						div
							button.btn-sm.btn-blue Submit
					li
						div
							button.btn-blue Submit
					li
						div
							button.btn-lg.btn-blue Submit
				ul.buttons.cf 
					p Lightblue
					li
						div
							button.btn-sm.btn-lblue Submit
					li
						div
							button.btn-lblue Submit
					li
						div
							button.btn-lg.btn-lblue Submit
				ul.buttons.cf
					p Red
					li
						div
							button.btn-sm.btn-red Submit
					li
						div
							button.btn-red Submit
					li
						div
							button.btn-lg.btn-red Submit
					
				ul.buttons.cf
					p Indian Red
					li
						div
							button.btn-sm.btn-ired Submit
					li
						div
							button.btn-ired Submit
					li
						div
							button.btn-lg.btn-ired Submit
	
				ul.buttons.cf
					p Blue Ivory
					li
						div
							button.btn-sm.btn-bliv Submit
					li
						div
							button.btn-bliv Submit
					li
						div
							button.btn-lg.btn-bliv Submit

				ul.buttons.cf
					p Blue Ivory Alt
					li
						div
							button.btn-sm.btn-bliva Submit
					li
						div
							button.btn-bliva Submit
					li
						div
							button.btn-lg.btn-bliva Submit
	
				ul.buttons.cf
					p Red Ivory
					li
						div
							button.btn-sm.btn-rediv Submit
					li
						div
							button.btn-rediv Submit
					li
						div
							button.btn-lg.btn-rediv Submit
						
	section.row.case
		h2 Input
		.block
			h5 Text
			.inner.pad
				.inputs
					input(placeholder='Text Input')
					textarea(placeholder='Begin typing...')
				code
					.wrap
						h5.xs2 base.scss
						p input, textarea { background-clip: padding-box; }
						p textarea { height: auto; min-height: 50px; resize:vertical; }
						br
						br
						h5.xs2 main.scss
						p	input, textarea {
						p.indent	background-color:snow; padding:.5em; margin:.25rem;
						p.indent	border-radius: $radius; border: 1px solid #ddd;
						p.indent	transition:all .2s linear;
						p.indent	&:focus {
						p.indent		box-shadow:inset 0 0 2px $steel; border-color:$lblue; background:white;
						p.indent	}
						p	}

		.block
			h5 Select
			.inner.pad
				.select.xs3
					.select-wrap
						i
						select
							option Select..
							option Option1
							option Option2
							option Option3
				code
					.wrap
						h5.xs2 styleguide.jade
						p	.select.xs3
						p.indent	.select-wrap
						p.indent2	i
						p.indent2 select
						p.indent3 option Select..
						p.indent3 option Option1
						p.indent3 option Option2
						p.indent3 option Option3
						br
						br
						h5.xs2 main.scss
						p .select-wrap {
						p.indent position:relative; margin:.25rem; background:grad(snow, azure);
						p.indent border:1px solid #ddd; border-radius:$radius;
						p.indent &:hover { box-shadow:inset 0 0 2px lighten($steel,30%); border-color:$lblue; background:white; }
						p.indent i {
						p.indent2	@include triangle(.5rem, #cbcbcb, top); position:absolute;
						p.indent2	top:.85rem; right:1rem;
						p.indent }
						p.indent select {
						p.indent2	position:relative; padding:.5rem .5rem .5rem 1rem; width:100%;
						p.indent2	-webkit-appearance:none; -moz-appearance:none; appearance:none;
						p.indent2	border:none; box-shadow:none;
						p.indent2	background-color:transparent; background-image:none;
						p.indent2	&:hover { cursor:pointer; }
						p.indent }
						p }

		.block
			h5 Checkbox &amp; Radio
			.inner.pad
				.checkboxes
					input(type='checkbox' id='check1')
					label(for='check1') Checkbox
					input(type='checkbox' id='check2' checked)
					label(for='check2') Checkbox checked
					input(type="radio" id="radio1" name="radio")
					label(for="radio1") Radio
					input(type="radio" id="radio2" name="radio" checked)
					label(for="radio2") Radio Selected
				code
					.wrap
						h5.xs2 styleguide.jade
						p .checkboxes
						p.indent input(type='checkbox' id='check1')
						p.indent label(for='check1') Checkbox
						p.indent input(type='checkbox' id='check2' checked)
						p.indent label(for='check2') Checkbox checked
						p.indent input(type="radio" id="radio1" name="radio")
						p.indent label(for="radio1") Radio
						p.indent input(type="radio" id="radio2" name="radio" checked)
						p.indent label(for="radio2") Radio Selected
						br
						br
						h5.xs2 main.scss
						p	input[type='checkbox'], input[type='radio'] { display:none; }
						p	label {
						p.indent position:relative; display:inline-block; margin-right:1rem; cursor:pointer;
						p	}
						p	label:before {
						p.indent content:''; position: relative; bottom: -2px; width:1rem; height:1rem;
						p.indent margin-right:.5rem; display: inline-block; color:$steel;
						p.indent border: 1px solid #ccc; border-radius:$radius; transition: border .2s;
						p.indent background:$sohblue;
						p	}
						p	label:hover:before {
						p.indent border-color:$steel;
						p	}
						p	input[type='radio'] + label:before {
						p.indent border-radius: 100%;
						p	}
						p	input[type='radio']:checked + label:before,
						p	input[type='checkbox']:checked + label:before {
						p.indent background-color:lighten($steel,5%); box-shadow: 0 0 0 2px $sohblue inset;
						p	}

dist/views/styles.html

<div class="style-guide">
  <header class="row case pad text-center">
    <div class="circle"><i></i></div>
    <h1>FFEEEEDD Style Guide</h1>
    <h4>Get all of your style questions answered here!</h4>
  </header>
  <section class="palette row case">
    <h2>Color Palette</h2>
    <div class="block">
      <h5>Primary Colors</h5>
      <div class="inner pad">
        <ul class="primary-list cf">
          <li class="sample">Azure	#F0FFFF
            <div></div>
          </li>
          <li class="sample">Firebrick	#B22222
            <div></div>
          </li>
          <li class="sample">Ivory #FFFFF0
            <div></div>
          </li>
          <li class="sample">Dark #313131
            <div></div>
          </li>
          <li class="sample">Light #FFFAFA
            <div></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="block">
      <h5>Secondary Colors</h5>
      <div class="inner pad">
        <ul class="secondary-list cf">
          <li class="sample">Lightblue	#ADD8E6
            <div></div>
          </li>
          <li class="sample">Indian Red #CD5C5C
            <div></div>
          </li>
          <li class="sample">Lemon	Chiffon #FFFACD
            <div></div>
          </li>
          <li class="sample">Steelblue	#4682B4
            <div></div>
          </li>
          <li class="sample">Old Lace #FDF5E6
            <div></div>
          </li>
        </ul>
      </div>
    </div>
    <div class="block">
      <h5>Mixers</h5>
      <div class="inner pad">
        <ul class="mixer-list cf">
          <li class="sample">Azure/Lightblue
            <div></div>
          </li>
          <li class="sample">Indian Red/Firebrick
            <div></div>
          </li>
          <li class="sample">Azure/Old lace
            <div></div>
          </li>
          <li class="sample">Azure/Ivory
            <div></div>
          </li>
          <li class="sample">Azure/Snow (Primary Light)
            <div></div>
          </li>
          <li class="sample">Lightblue/Old Lace
            <div></div>
          </li>
          <li class="sample">Lightblue/Ivory
            <div></div>
          </li>
          <li class="sample">Lightblue/Snow
            <div></div>
          </li>
          <li class="sample">Lightblue/Steelblue
            <div></div>
          </li>
          <li class="sample">Ivory/Snow
            <div></div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="typography row case">
    <h2>Typography</h2>
    <div class="block">
      <h5>Headers</h5>
      <div class="inner pad">
        <div class="headers">
          <h1>Header One</h1>
          <h2>Header Two</h2>
          <h3>Header Three</h3>
          <h4>Header Four</h4>
          <h5>Header Five</h5>
          <h6>Header Six</h6>
        </div><code>
          <div class="wrap">
            <h5 class="xs2">base.scss</h5>
            <p class="muted">/* T Y P O G R A P H Y</p>
            <p class="muted">=============================================================*/</p>
            <p>	h1,h2,h3 { font-weight:100; }</p>
            <p>	h4,h5,h6 { font-weight:200; }</p>
            <p>	h1 { font-size:2em; line-height:1.25; }</p>
            <p>h1 { font-size:2em; line-height:1.25; }</p>
            <p>h2 { font-size:1.625em; line-height:1.15; }</p>
            <p>h3 { font-size:1.375em; line-height:1.13; }</p>
            <p>h4 { font-size:1.125em; line-height:1.11; }</p>
            <p>h5 { font-size:1.1em; line-height:1.08; }</p>
            <p>h6 { font-size:1em; line-height:1; }</p>
            <p class="muted">// $sm (tablet and up)</p>
            <p>@media (min-width:40.063em) {</p>
            <p class="indent">body { line-height:1.375; }</p>
            <p class="indent">h1 { font-size:2.5em; line-height:1.125; }</p>
            <p class="indent">h2 { font-size:2em; line-height:1.25; }</p>
            <p class="indent">h3 { font-size:1.5em; line-height:1.25; }</p>
            <p class="indent">h4 { font-size:1.3em; line-height:1.22; }</p>
            <p class="indent">h5 { font-size:1.2em; line-height:1.19; }</p>
            <p class="indent">h6 { font-size:1em; line-height:1.1; }</p>
            <p>}</p>
            <p class="muted">// $md (laptop and up)</p>
            <p>@media (min-width:64.063em) {</p>
            <p class="indent">h1 { font-size:3em; line-height:1.05; }</p>
            <p class="indent">h2 { font-size:2.25em; line-height:1.25; }</p>
            <p class="indent">h3 { font-size:1.75em; line-height:1.25; }</p>
            <p class="indent">h4 { font-size:1.5em; line-height:1.15; }</p>
            <p class="indent">h5 { font-size:1.3em; line-height:1.1; }</p>
            <p class="indent">h6 { font-size:1em; line-height:1; }</p>
            <p>}</p>
          </div></code>
      </div>
    </div>
    <div class="block cf">
      <h5>Paragraph</h5>
      <div class="inner pad">
        <p class="md6 col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><code>
          <div class="wrap cf">
            <h5 class="xs2">base.scss</h5>
            <p>body { font-size:100%; font-size-adjust: 0.5; font-size:1em; line-height:1.25; }</p>
            <p>$base-font-size: 16px !default;</p>
            <p>$base-line-height: 24px !default;</p>
            <p>$body-bg: #fff !default;</p>
            <p>$body-font-color: #313131 !default;</p>
            <p>$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;</p>
            <p>$body-font-weight: normal !default;</p>
            <p>$body-font-style: normal !default;</p>
          </div></code>
      </div>
    </div>
    <div class="block cf">
      <h5>Anchors</h5>
      <div class="inner pad">
        <div class="anchors"><a href="#">Righteous!</a></div><code>
          <div class="wrap">
            <h5 class="xs2">main.scss</h5>
            <p>a, input, textarea, button { outline:none; }</p>
            <p>a {</p>
            <p class="indent">color: lighten($steel,5%); font-weight:500; text-decoration:none; transition:color .05s linear;</p>
            <p class="indent">&:hover, &:active { color: darken($steel,10%); }</p>
            <p class="indent">&:visited { color: $lblue; }</p>
            <p>}</p>
          </div></code>
      </div>
    </div>
  </section>
  <section class="row case">
    <h2>Buttons</h2>
    <div class="block">
      <h5>Base</h5>
      <div class="inner pad">
        <ul class="buttons cf">
          <li>button
            <div>
              <button>Submit</button>
            </div>
          </li>
        </ul><code>
          <div class="wrap">
            <h5 class="xs2">buttons.scss</h5>
            <p>.btn, button, input[type='submit'] {</p>
            <p class="indent">font-family:inherit; font-size:100%; cursor:pointer; padding:0;</p>
            <p class="indent">display:inline-block; vertical-align:middle; white-space:nowrap;</p>
            <p class="indent">background:white; border:1px solid #ddd; border-radius:$global-radius;</p>
            <p class="indent">padding-right:1.5em; padding-left:1.5em; line-height:2.5; font-weight:200;</p>
            <p class="indent">&, &:hover { text-decoration:none; }</p>
            <p class="indent">&:hover { background:#eee; }</p>
            <p class="indent">&:active, &:focus { outline:none; }</p>
            <p>}</p>
          </div></code>
      </div>
    </div>
    <div class="block">
      <h5>Sizes</h5>
      <div class="inner pad">
        <ul class="buttons cf">
          <li>button.btn-sm
            <div>
              <button class="btn-sm">Submit</button>
            </div>
          </li>
          <li>button / .btn
            <div>
              <button>Submit</button>
            </div>
          </li>
          <li>button.btn-lg
            <div>
              <button class="btn-lg">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <li>a.btn.btn-sm
            <div><a class="btn btn-sm">Submit</a></div>
          </li>
          <li>a.btn
            <div><a class="btn">Submit</a></div>
          </li>
          <li>a.btn.btn-lg
            <div><a class="btn btn-lg">Submit</a></div>
          </li>
        </ul><code>
          <div class="wrap">
            <h5 class="xs2">buttons.scss</h5>
            <p>	.btn-sm {</p>
            <p class="indent">padding-right:0.5em; padding-left: 0.5em; line-height:2; font-size:90%;</p>
            <p>	}</p>
            <p></p>
            <p>	//.btn-md is default</p>
            <p></p>
            <p>	.btn-lg {</p>
            <p class="indent">padding-right:2.5em; padding-left: 2.5em; line-height:3; font-size:120%;</p>
            <p>	}</p>
          </div></code>
      </div>
    </div>
    <div class="block">
      <h5>Colors</h5>
      <div class="inner pad">
        <ul class="buttons cf">
          <p>Blue</p>
          <li>
            <div>
              <button class="btn-sm btn-blue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-blue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-blue">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Lightblue</p>
          <li>
            <div>
              <button class="btn-sm btn-lblue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lblue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-lblue">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Red</p>
          <li>
            <div>
              <button class="btn-sm btn-red">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-red">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-red">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Indian Red</p>
          <li>
            <div>
              <button class="btn-sm btn-ired">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-ired">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-ired">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Blue Ivory</p>
          <li>
            <div>
              <button class="btn-sm btn-bliv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-bliv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-bliv">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Blue Ivory Alt</p>
          <li>
            <div>
              <button class="btn-sm btn-bliva">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-bliva">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-bliva">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Red Ivory</p>
          <li>
            <div>
              <button class="btn-sm btn-rediv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-rediv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-rediv">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Mixed</p>
          <li>
            <div>
              <button class="btn-sm btn-mix">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-mix">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-mix">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Mixed 2</p>
          <li>
            <div>
              <button class="btn-sm btn-mix2">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-mix2">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-mix2">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Mixed 3</p>
          <li>
            <div>
              <button class="btn-sm btn-mix3">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-mix3">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-mix3">Submit</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="block tactile">
      <h5>Tactile</h5>
      <div class="inner pad">
        <ul class="buttons cf">
          <p>Blue</p>
          <li>
            <div>
              <button class="btn-sm btn-blue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-blue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-blue">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Lightblue</p>
          <li>
            <div>
              <button class="btn-sm btn-lblue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lblue">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-lblue">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Red</p>
          <li>
            <div>
              <button class="btn-sm btn-red">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-red">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-red">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Indian Red</p>
          <li>
            <div>
              <button class="btn-sm btn-ired">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-ired">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-ired">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Blue Ivory</p>
          <li>
            <div>
              <button class="btn-sm btn-bliv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-bliv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-bliv">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Blue Ivory Alt</p>
          <li>
            <div>
              <button class="btn-sm btn-bliva">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-bliva">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-bliva">Submit</button>
            </div>
          </li>
        </ul>
        <ul class="buttons cf">
          <p>Red Ivory</p>
          <li>
            <div>
              <button class="btn-sm btn-rediv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-rediv">Submit</button>
            </div>
          </li>
          <li>
            <div>
              <button class="btn-lg btn-rediv">Submit</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="row case">
    <h2>Input</h2>
    <div class="block">
      <h5>Text</h5>
      <div class="inner pad">
        <div class="inputs">
          <input placeholder="Text Input"/>
          <textarea placeholder="Begin typing..."></textarea>
        </div><code>
          <div class="wrap">
            <h5 class="xs2">base.scss</h5>
            <p>input, textarea { background-clip: padding-box; }</p>
            <p>textarea { height: auto; min-height: 50px; resize:vertical; }</p><br/><br/>
            <h5 class="xs2">main.scss</h5>
            <p>	input, textarea {</p>
            <p class="indent">	background-color:snow; padding:.5em; margin:.25rem;</p>
            <p class="indent">	border-radius: $radius; border: 1px solid #ddd;</p>
            <p class="indent">	transition:all .2s linear;</p>
            <p class="indent">	&:focus {</p>
            <p class="indent">		box-shadow:inset 0 0 2px $steel; border-color:$lblue; background:white;</p>
            <p class="indent">	}</p>
            <p>	}</p>
          </div></code>
      </div>
    </div>
    <div class="block">
      <h5>Select</h5>
      <div class="inner pad">
        <div class="select xs3">
          <div class="select-wrap"><i></i>
            <select>
              <option>Select..</option>
              <option>Option1</option>
              <option>Option2</option>
              <option>Option3</option>
            </select>
          </div>
        </div><code>
          <div class="wrap">
            <h5 class="xs2">styleguide.jade</h5>
            <p>	.select.xs3</p>
            <p class="indent">	.select-wrap</p>
            <p class="indent2">	i</p>
            <p class="indent2">select</p>
            <p class="indent3">option Select..</p>
            <p class="indent3">option Option1</p>
            <p class="indent3">option Option2</p>
            <p class="indent3">option Option3</p><br/><br/>
            <h5 class="xs2">main.scss</h5>
            <p>.select-wrap {</p>
            <p class="indent">position:relative; margin:.25rem; background:grad(snow, azure);</p>
            <p class="indent">border:1px solid #ddd; border-radius:$radius;</p>
            <p class="indent">&:hover { box-shadow:inset 0 0 2px lighten($steel,30%); border-color:$lblue; background:white; }</p>
            <p class="indent">i {</p>
            <p class="indent2">	@include triangle(.5rem, #cbcbcb, top); position:absolute;</p>
            <p class="indent2">	top:.85rem; right:1rem;</p>
            <p class="indent">}</p>
            <p class="indent">select {</p>
            <p class="indent2">	position:relative; padding:.5rem .5rem .5rem 1rem; width:100%;</p>
            <p class="indent2">	-webkit-appearance:none; -moz-appearance:none; appearance:none;</p>
            <p class="indent2">	border:none; box-shadow:none;</p>
            <p class="indent2">	background-color:transparent; background-image:none;</p>
            <p class="indent2">	&:hover { cursor:pointer; }</p>
            <p class="indent">}</p>
            <p>}</p>
          </div></code>
      </div>
    </div>
    <div class="block">
      <h5>Checkbox &amp; Radio</h5>
      <div class="inner pad">
        <div class="checkboxes">
          <input type="checkbox" id="check1"/>
          <label for="check1">Checkbox</label>
          <input type="checkbox" id="check2" checked="checked"/>
          <label for="check2">Checkbox checked</label>
          <input type="radio" id="radio1" name="radio"/>
          <label for="radio1">Radio</label>
          <input type="radio" id="radio2" name="radio" checked="checked"/>
          <label for="radio2">Radio Selected</label>
        </div><code>
          <div class="wrap">
            <h5 class="xs2">styleguide.jade</h5>
            <p>.checkboxes</p>
            <p class="indent">input(type='checkbox' id='check1')</p>
            <p class="indent">label(for='check1') Checkbox</p>
            <p class="indent">input(type='checkbox' id='check2' checked)</p>
            <p class="indent">label(for='check2') Checkbox checked</p>
            <p class="indent">input(type="radio" id="radio1" name="radio")</p>
            <p class="indent">label(for="radio1") Radio</p>
            <p class="indent">input(type="radio" id="radio2" name="radio" checked)</p>
            <p class="indent">label(for="radio2") Radio Selected</p><br/><br/>
            <h5 class="xs2">main.scss</h5>
            <p>	input[type='checkbox'], input[type='radio'] { display:none; }</p>
            <p>	label {</p>
            <p class="indent">position:relative; display:inline-block; margin-right:1rem; cursor:pointer;</p>
            <p>	}</p>
            <p>	label:before {</p>
            <p class="indent">content:''; position: relative; bottom: -2px; width:1rem; height:1rem;</p>
            <p class="indent">margin-right:.5rem; display: inline-block; color:$steel;</p>
            <p class="indent">border: 1px solid #ccc; border-radius:$radius; transition: border .2s;</p>
            <p class="indent">background:$sohblue;</p>
            <p>	}</p>
            <p>	label:hover:before {</p>
            <p class="indent">border-color:$steel;</p>
            <p>	}</p>
            <p>	input[type='radio'] + label:before {</p>
            <p class="indent">border-radius: 100%;</p>
            <p>	}</p>
            <p>	input[type='radio']:checked + label:before,</p>
            <p>	input[type='checkbox']:checked + label:before {</p>
            <p class="indent">background-color:lighten($steel,5%); box-shadow: 0 0 0 2px $sohblue inset;</p>
            <p>	}</p>
          </div></code>
      </div>
    </div>
  </section>
</div>
